@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Orbitron&family=Tourney:wght@200&display=swap');

html {
  background-color: black;
}

h1 {
  size: 75px;
  color: white;
  font-family: 'Monoton', cursive;
}

h2 {
  size: 50px;
  color: white;
  font-family: 'Tourney', cursive;
}

.comingSoon {
  size: 50px;
  color: white;
  font-family: 'Orbitron', sans-serif;
}
